## There Came a time when the old gods died. 

## Ignore everything by default
*

## NeoVim configs
!.vimrc

## Git configs
!.gitignore_global
!.gitconfig
!.gitignore

## Zshrc configs
!.zsh/_git
!.zprezto/*
!.zprezto/runcoms/
!.zprezto/runcoms/zpreztorc
!.zpreztorc
!.zsh/*
!.zshrc

## Tips sheet
*.dump
