[alias]
  # Show verbose output about tags, branches or remotes
  tags = tag -l
  branches = branch -a
  remotes = remote -v
  # Pretty log output
  hist = log --graph --pretty=format:'%Cred%h%Creset %s%C(yellow)%d%Creset %Cgreen(%cr)%Creset [%an]' --abbrev-commit --date=relative
  sw = switch
  st = status -sb
  undo = reset HEAD~1 --mixed
  sync = "!f() { git fetch --prune && git rebase origin/$(git symbolic-ref --short refs/remotes/origin/HEAD | sed 's|origin/||'); }; f"

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[user]
	name = alxjrvs
	email = alxjrvs@gmail.com
[credential]
	helper = osxkeychain
[core]
	editor = nvim
	excludesfile = ~/.gitignore
	pager = delta
	fsmonitor = true
	untrackedCache = true
[init]
	defaultBranch = main
[commit]
	template = ~/.gitmessage
	verbose = true
[push]
	autoSetupRemote = true
	followTags = true
[pull]
	rebase = true
[rerere]
	enabled = true
	autoupdate = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	dark = true
[fetch]
	prune = true
	pruneTags = true
	writeCommitGraph = true
[merge]
	conflictstyle = zdiff3
[branch]
	sort = -committerdate
[column]
	ui = auto
[diff]
	algorithm = histogram
	colorMoved = dimmed-zebra
	mnemonicPrefix = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[tag]
	sort = version:refname
[help]
	autocorrect = prompt
[include]
	path = ~/.gitconfig.local
